<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jarvan.mapper.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.jarvan.model.Permission" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="per_name" property="perName" jdbcType="VARCHAR" />
    <result column="per_type_id" property="perTypeId" jdbcType="BIGINT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="created_user_id" property="createdUserId" jdbcType="BIGINT" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="updated_user_id" property="updatedUserId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, per_name, per_type_id, created_time, created_user_id, updated_time, updated_user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from permissions
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from permissions
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from permissions
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jarvan.model.Permission" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into permissions (per_name, per_type_id, created_time, 
      created_user_id, updated_time, updated_user_id
      )
    values (#{perName,jdbcType=VARCHAR}, #{perTypeId,jdbcType=BIGINT}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{createdUserId,jdbcType=BIGINT}, #{updatedTime,jdbcType=TIMESTAMP}, #{updatedUserId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jarvan.model.Permission" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into permissions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="perName != null" >
        per_name,
      </if>
      <if test="perTypeId != null" >
        per_type_id,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="createdUserId != null" >
        created_user_id,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="updatedUserId != null" >
        updated_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="perName != null" >
        #{perName,jdbcType=VARCHAR},
      </if>
      <if test="perTypeId != null" >
        #{perTypeId,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null" >
        #{createdUserId,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUserId != null" >
        #{updatedUserId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jarvan.model.Permission" >
    update permissions
    <set >
      <if test="perName != null" >
        per_name = #{perName,jdbcType=VARCHAR},
      </if>
      <if test="perTypeId != null" >
        per_type_id = #{perTypeId,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null" >
        created_user_id = #{createdUserId,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUserId != null" >
        updated_user_id = #{updatedUserId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jarvan.model.Permission" >
    update permissions
    set per_name = #{perName,jdbcType=VARCHAR},
      per_type_id = #{perTypeId,jdbcType=BIGINT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_user_id = #{createdUserId,jdbcType=BIGINT},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      updated_user_id = #{updatedUserId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>