<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jarvan.auth.mapper.RolePermissionRelationMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jarvan.auth.entity.RolePermissionRelation">
        <result column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="permission_id" property="permissionId" />
        <result column="created_user_id" property="createdUserId" />
        <result column="created_time" property="createdTime" />
        <result column="updated_user_id" property="updatedUserId" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_id, permission_id, created_user_id, created_time, updated_user_id, updated_time
    </sql>

</mapper>
