<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jarvan.auth.mapper.UserRoleRelationMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jarvan.auth.entity.UserRoleRelation">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
        <result column="created_time" property="createdTime" />
        <result column="created_user_id" property="createdUserId" />
        <result column="updated_time" property="updatedTime" />
        <result column="updated_user_id" property="updatedUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, role_id, created_time, created_user_id, updated_time, updated_user_id
    </sql>


    <delete id="deleteByUserIds" >
        delete from auth_user_role_relation
        where user_id in
        <foreach collection="array" item="arr" index="no" open="("
                 separator="," close=")">
            #{arr}
        </foreach>

    </delete>
</mapper>